.button {
	&s {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		
		@include breakpoint-m {
			gap: 10px;	
		}
	}

	@include typo('small');
	@include hover-opacity;

	padding: 9px 15px;
	border-radius: 4px;
	min-width: 120px;
	
	@include breakpoint-s {
		flex: 1 1 100%;		
		min-width: auto;
	}

	&_blue {
		border: 1px solid get-color(blue_400);
		background-color: get-color(blue_400);
		color: get-color(white);
	}

	&_green {
		border: 1px solid get-color(green_200);
		background-color: get-color(green_200);
		color: get-color(white);
	}

	&_red {
		border: 1px solid get-color(red_200);
		background-color: get-color(red_200);
		color: get-color(white);
	}

	&_grey {
		border: 1px solid get-color(grey_200);
		background-color: get-color(grey_200);
		color: get-color(white);
	}

	&_white {
		background-color: get-color(white);
		color: get-color(grey_800);
	}

	&_border-grey {
		border: 1px solid get-color(grey_600);
	}

	&_border-white {
		border: 1px solid get-color(white);
	}

	span {
		@include text-clip(150px);

		display: block;
		min-width: 120px;

		@include breakpoint-m {
			max-width: 100%;
		}
	}

	&[type='submit'] {
		@include text-clip();
	}
}