.card {
	&s {
		display: flex;
		flex-wrap: wrap;
	}

	border: 1px solid get-color(grey_100);
	border-radius: 6px;
	padding: 10px;

	&__description {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		gap: 5px;
		
		&-item {
			flex: 1 0 100%;
			display: flex;
			justify-content: space-between;
			position: relative;

			&::before {
				@include pseudo;
				@include size(100%, 1px);

				bottom: 3px;
				left: 0;
				background-color: get-color(grey_200);
			}
		}

		&-key {
			opacity: 0.7;
		}

		span {
			background-color: get-color(white);
			display: block;
			position: relative;
		}
	}

	.button {
		flex: 1 1 0;
	}
}