.cars {
	&__content {
		padding: 50px 0;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid get-color(grey_100);

		&-sort {
			display: flex;
			align-items: center;
			gap: 20px;
			flex: 1 1 auto;

			@include breakpoint-m {
				flex: 1 1 100%;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			span {
				@include typo('h5');

				display: block;
				text-align: left;
			}

			& > * {
				@include breakpoint-m {
					flex: 1 1 100%;
				}
			}

			select {
				text-transform: uppercase;
			}
		}

		.button {
			@include breakpoint-m {
				flex: 1 1 100%;
			}
		}
	}
}