$burger-span-height: 2px;

.header {
	$root: &;

	@include size(100%, $header-height);

	position: fixed;
	background-color: get-color(dark_navy);
	color: get-color(white);
	opacity: 0.9;
	display: flex;
	align-items: center;
	z-index: map-get($z-indexes, header);

	@include breakpoint-m {
		height: $header-height-mobile;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		padding-right: 20px;
		display: flex;
		align-items: center;
		column-gap: 20px;

		@include breakpoint-m {
			column-gap: 10px;
		}

		svg {
			@include breakpoint-m {
				width: 40px;
				height: 40px;
			}
		}

		&-text {
			font-style: italic;
			font-size: 28px;
			line-height: 36px;
			
			@include breakpoint-m {
				font-size: 22px;
				line-height: 28px;

			}
		}
	}

	&__menu { 
		@include trans;

		display: flex;
		align-items: center;

		@include breakpoint-l {
			width: 50%;
		}
		
		@include breakpoint-m {
			position: fixed;
			width: 100%;
			height: calc(100vh - $header-height-mobile);
			top: $header-height-mobile;
			right: -100%;
			opacity: 0;
			background-color: get-color(white);

			#{$root}_menu-open & {
				opacity: 1;
				right: 0;
			}
		}
		
		&-item {
			&s {
				display: flex;
				column-gap: 60px;
				
				@include breakpoint-l {
					width: 100%;
					column-gap: initial;
					justify-content: space-between;
				}

				@include breakpoint-m {
					flex-direction: column;
					align-items: center;
					row-gap: 60px;
				}
			}
	
			@include typo(small);
			@include text-clip(130px);
	
			font-weight: 600;

			@include breakpoint-m {
				@include typo('h4');

				max-width: 100%;
				color: get-color(dark_navy);
			}

			&_active {
				color: get-color(blue_100);
			}
		}
	}

	&__burger {
		display: none;
		position: relative;
		width: 32px;
		height: 16px;
		cursor: pointer;

		@include breakpoint-m {
			display: block;
		}

		span {
			@include trans;

			position: absolute;
			height: $burger-span-height;
			width: 100%;
			background-color: get-color(blue_100);
			top: calc(50% - $burger-span-height / 2);
			left: 0;

			#{$root}_menu-open &:not(:first-child):not(:last-child) {
				opacity: 0;
			}

			&:first-child {
				top: 0;

				#{$root}_menu-open & {
					transform: translateY(-50%) rotate(45deg);
					top: 50%;
				}
			}

			&:last-child {
				top: auto;
				bottom: 0;

				#{$root}_menu-open & {
					transform: translateY(50%) rotate(-45deg);
					bottom: 50%;
				}
			}
		}

		@include breakpoint-m-min {
			#{$root}:not([class*='menu-open']) &:hover {
				$animation-x-offset: 4px;
				span {
					transform: translateX(-$animation-x-offset);
		
					&:first-child,
					&:last-child {
						transform: translateX($animation-x-offset);
					}
				}
			}
		}
	}
}