.input {
	@include typo('small');
	@include hover-opacity;
	
	border: none;
	outline: none;
	padding: 9px 15px;
	// background-color: get-color(grey_100);
	border: 1px solid get-color(grey_100);
	border-radius: 3px;
	cursor: pointer;
}