.modal {
	@include size(100%);

	position: fixed;
	top: $header-height;
	z-index: calc(map-get($z-indexes, header) - 1);
	height: 100%;

	@include breakpoint-m {
		top: $header-height-mobile;
	}

	&__fade {
		@include size(100%);

		position: absolute;
		background-color: rgba(get-color(black), 0.6);
	}

	&__content {
		position: absolute;
		max-width: 80vw;
		min-width: 50vw;
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: calc(50% - $header-height);
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: get-color(white);
		border-radius: 6px;
		padding: 20px;
		max-height: 60vh;
		overflow: auto;

		@include breakpoint-m {
			max-width: calc(100vw - 30px);
			width: 100%;
		}
	}

	&__header {
		margin-bottom: 20px;
	}

	&__item {
		&s {
			display: flex;
			flex-direction: column;
			width: 100%;
			row-gap: 10px;
			margin-bottom: 20px;
		}

		width: 100%;
	}

	&__buttons {
		position: relative;
	}
}