<script lang="ts" setup>
	import { Cars } from '@/typescript/Components/Cars';
	import { CarsApi } from '@/typescript/API/CarsApi';
	import Cards from '@/components/Layout/Cards.vue';
	import Section from '@/components/Layout/Section.vue';
	import Select from '@/components/Layout/Select.vue';
	import Button from '@/components//Layout/Button.vue';
	import Modal from '@/components//Layout/Modal.vue';
	import { ref, type Ref } from 'vue'
import type { ICar } from '@/interfaces/Cars/Car';

	const cars = new Cars(CarsApi);
	cars.fetchItems();

	const select = {
		items: [
			{value: 'year', text: 'Год выпуска'},
			{value: 'year desc', text: 'Год выпуска (по убыванию)'},
			{value: 'price', text: 'Цена'},
			{value: 'price desc', text: 'Цена (по убыванию)'},
		],
		placeholder: 'Выберите тип'
	}

	const is_modal: Ref<boolean> = ref(false);
	const closeModal = () => {
		is_modal.value = false;
	}
</script>

<template>
	<Section class_name="cars">

		<div class="cars__content">

			<div class="cars__header">
				<div class="cars__header-sort">
					<span>Соритровать по:</span>
					<Select :items="select.items" :placeholder="select.placeholder" @changeValue="(option) => cars.sortItems(option)" />
				</div>
	
				<Button color="green" label="Создать" @click="is_modal = true" />
			</div>
	
			<Cards
				:cards="cars.items.value"
				:is_buttons="true"
				@edit   ="(item) => cars.updateItem(item)"
				@remove ="(id: string | number) => cars.removeItem(id)"
				empty_cards_label="Ничего не найдено D:" />	
	
			<Modal 
				v-if="is_modal" 
				:item="cars.getEmptyItem() as ICar" 
				:is_buttons=true 
				header="Создание элемента"
				@save="(item) => cars.createItem(item)" 
				@cancel="closeModal()" />
				
		</div>

	</Section>
</template>