<script lang="ts" setup>
	import type { IButton } from '@/interfaces/UI/Button';
	
	const props = withDefaults(defineProps<IButton>(), {
		color: 'blue',
		type: undefined,
	})

	const emit = defineEmits(['click']);
	const clickHandler = (): void => {
		emit('click');
	}
</script>

<template>
	<button :class="['button', 'button_' + color]" @click="clickHandler" :type=" type || 'button'">{{ label }}</button>
</template>