<script lang="ts" setup>
	import Modal from '@/components/Layout/Modal.vue';
	import Button from '@/components/Layout/Button.vue';
	import { ref, type Ref } from 'vue'
	import type { ICard, ICards } from '@/interfaces/UI/Card';
	

	const props = defineProps<ICards<ICard>>();
	const emit  = defineEmits(['edit']);

	const modal_data: Ref<ICard | null> = ref(null);

	const closeModal = () => {
		modal_data.value = null;
	}
	const saveHandler = (item: ICard) => {
		emit('edit', item);
		closeModal();
	}
</script>

<template>
	<div v-if="cards?.length" class="cards">
		<div class="row">

			<div 
				v-for="card in cards"
				:key="card.id"
				class="column column_4 column_xl-6 column_m-12"
			>
	
				<div class="card">

					<ul class="card__description">
						<li 
							v-for="[key, value] in Object.entries(card).filter((item) => item[0] != 'id')"
							:key="key"
							class="card__description-item"
							>
							<span class="card__description-key">{{ key }}</span>
							<span class="card__description-value">{{ value }}</span>
						</li>
					</ul>
		
					<div
						v-if="is_buttons"
						class="buttons">
						<Button label="Редактировать" color="blue" @click="() => modal_data = card" />
						<Button label="Удалить" color="red" @click="(event: Event) => $emit('remove', card.id)" />
					</div>

				</div>
	
			</div>

			<Modal v-if="modal_data" :item="modal_data" :is_buttons=true @save="(item) => saveHandler(item)" @cancel="closeModal()" />

		</div>
	</div>

	<div v-else class="cards__empty">
		{{ empty_cards_label}}
	</div>

</template>