<script lang="ts" setup>
	import Logo from "./Logo.vue";
</script>

<template>
	<header class="header">
		<div class="container">
			<div class="header__content">

				<a href="#" class="logo header__logo">
					<Logo />
					<span class="header__logo-text">CarInfo.com</span>
				</a>

				<menu id="menu" class="header__menu">
					<ul class="header__menu-items">
						<li class="header__menu-item"><a href="#">Home</a></li>
						<li class="header__menu-item"><a href="#">About</a></li>
						<li class="header__menu-item"><a href="#">Contact</a></li>
					</ul>
				</menu>

				<div id="menu-controller" class="header__burger">
					<span></span>
					<span></span>
					<span></span>
				</div>

			</div>
		</div>
	</header>
</template>