<script setup lang="ts">
	import Button from '@/components/Layout/Button.vue';
	import type { IModal } from "@/interfaces/UI/Modal";

	const props = defineProps<IModal>();
	const editable_item = Object.assign({}, props.item);
	// id задаём на бэке
	Object.defineProperty(editable_item, 'id', {
		enumerable: false,
	});
	const emit = defineEmits(['save', 'cancel']);

	const saveHandler = (event: Event, item: object) => {
		event.preventDefault();
		emit('cancel');
		emit('save', item);
	}
	const inputHandler = (item: any, key: string, value: string): void => {
		if (typeof key == 'string') {
			item[key] = value as string;
		}
	}
</script>

<template>
	<Teleport to="body">
		<form class="form modal" @submit="(event) => saveHandler(event, editable_item)">
			<div class="modal__fade" @click="$emit('cancel')"></div>
			
			<div class="modal__content">

				<h4 v-if="header" class="modal__header">{{ header }}</h4>

				<ul class="modal__items">
					<li 
						v-for="value, key in editable_item"
							:key="key"
							class="modal__item"
						>
						<input 
							class="input"
							:type="typeof value == 'number' && (key != 'latitude' && key != 'longitude') ? 'number' : 'text'" 
							:value="editable_item[key] || null" 
							:placeholder="key"
							@input="(event) => inputHandler(editable_item, key, (<HTMLSelectElement>event.target)?.value)" 
							required>
					</li>
				</ul>
		
				<div
					v-if="is_buttons"
					class="modal__buttons buttons">
					<Button label="Сохранить" color="green" :type="'submit'" />
					<Button label="Отменить" color="grey" @click="$emit('cancel')" />
				</div>

			</div>

		</form>
	</Teleport>
</template>