<script lang="ts" setup>
	const props = defineProps(['class_name', 'background_image_url'])
</script>

<template>
	<section :class="['section', props.class_name]">

		<div :class="['section__background', props.class_name + '__background']" v-if="props.background_image_url">
			<img :src="props.background_image_url" :alt="props.class_name + 'image'">
		</div>

		<div class="container">
			<slot></slot>
		</div>
	</section>
</template>