<script lang="ts" setup>
	import type { ISelect, ISelectItem } from '@/interfaces/UI/Select';	

	const props = defineProps<ISelect<ISelectItem>>();
	const emit  = defineEmits(['changeValue']);
	const changeHandler = (event: (Event)): void => {
		emit('changeValue', (<HTMLSelectElement>event.target)?.value);
	}
</script>

<template>
	<select class="input input_select" @change="changeHandler">
		<option selected disabled>{{ placeholder }}</option>
		<option v-for="item in items" :key="item.value" :value="item.value">{{ item.text }}</option>
	</select>
</template>