*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary;
	color: get-color(dark_navy);
	background-color: get-color(blue_700);
	min-height: 100vh;
}

ol,
ul {
	@include nl;
}

a {
	text-decoration: none;
	color: inherit;

	@include hover-opacity;
}

button {
	background: transparent;
	border: 0;
	cursor: pointer;
}

@for $i from 1 through 6 {
	h#{$i} {
		@include typo('h#{$i}');
	}
}

.wrapper {
	overflow: hidden;
}

.section {
	position: relative;

	#{main} &:first-child {
		padding-top: $header-height;

		@include breakpoint-m {
			padding-top: $header-height-mobile;
		}
	}

	&__background {
		img {
			@include image-bg;
		}
	}
}

.accent-blue {
	color: get-color($accent-color);
}