// Блоки
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin pseudo($display: block, $position: absolute) {
	position: $position;
	display: $display;
	content: '';
}

// Переход
@mixin trans($values...) {
  @if length($values) == 0 {
    $values: 0.3s; //'all .3s ease' – значение по умолчанию
  }

  transition: $values;
}

@mixin hover-opacity($opacity: $hover-opacity) {
  @include trans();

  @include breakpoint-m-min {
    &:hover {
      opacity: $opacity;
    }
  }
}

// Списки
@mixin nl {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	list-style-position: outside;
}

// Изображения
@mixin bg($isCover: true) {
  @if ($isCover) {
    object-fit: cover;
    object-position: center;
  }

  @else {
    object-fit: contain;
  }
}

@mixin image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;

  @include bg;
}

@mixin image-cont($percent: 57.05%) {
  position: relative;

  &::before {
    @include pseudo(block, static);

    padding: $percent 0 0;
  }
}

// Типографика 
@mixin typo($name) {
  $fontStyles: map_get($typo, $name);

  @include styles-gen($fontStyles);
}

// Генератор стилей
@mixin styles-gen($itemStyles) {
  @each $attr, $itemValue in $itemStyles {
    @if (map_get($breakpoints, $attr) != null) {
      @media (max-width: map_get($breakpoints, $attr)) {
        @include styles-gen($itemValue);
      }
    }

    @else {
      #{$attr}: #{$itemValue};
    }
  }
}

// Цвета
@function get-color($name) {
  @return map_get($colors, $name);
}

// Переполнение текста
@mixin text-clip($max-width: 100%) {
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Адаптивность
@mixin breakpoint-xl {
  @media (max-width: calc(#{map_get($breakpoints, xl)} - 1px)) {
    @content;
  }
}

@mixin breakpoint-xl-min {
  @media (min-width: map_get($breakpoints, xl)) {
    @content;
  }
}

@mixin breakpoint-l {
  @media (max-width: calc(#{map_get($breakpoints, l)} - 1px)) {
    @content;
  }
}

@mixin breakpoint-l-min {
  @media (min-width: map_get($breakpoints, l)) {
    @content;
  }
}

@mixin breakpoint-m {
  @media (max-width: calc(#{map_get($breakpoints, m)} - 1px)) {
    @content;
  }
}

@mixin breakpoint-m-min {
  @media (min-width: map_get($breakpoints, m)) {
    @content;
  }
}

@mixin breakpoint-s {
  @media (max-width: calc(#{map_get($breakpoints, s)} - 1px)) {
    @content;
  }
}

@mixin breakpoint-s-down {
  @media (min-width: map_get($breakpoints, s)) {
    @content;
  }
}

// Инпуты 
@mixin range-thumb {
  @include size(28px);
						
  border: 3px solid get-color(blue_800);
  background-color: get-color(blue_200);
  border-radius: 50%;
}

@mixin range-track {
  height: 6px;
  background: get-color(grey_300);
  border: 1px solid get-color(white);
  border-radius: $input-border-radius;
}