// Основные
$font-primary: 'Arial', sans-serif;
$hover-opacity: 0.7;
$accent-color: 'blue_400';
$input-border-radius: 3px;

$colors: (
	white: #FFFFFF,
	black: #000000,
	dark_navy: #10101D,

	blue_100: #43ABF0,
	blue_200: #42A9ED,
	blue_400: #3E9CDC,
	blue_800: #286690,

	green_200: #42ed75,

	red_200: #ed7242,
	
	grey_100: #C4C4C4,
	grey_200: #C3C3C3,
	grey_300: #BEBEC2,
	grey_400: #BBBBBB,
	grey_600: #6F6D7B,
	grey_700: #3D4050,
	grey_800: #2A2B30,
	grey_900: #272733,
);

$breakpoints: (
	xl: '1200px',
	l: '992px',
	m: '768px',
	s: '576px',
);

$typo: (
	h1: (
		font: 700 48px / 58px $font-primary,
		m: (
			font-size: 36px,
			line-height: 48px,
			text-align: center,
		),
		s: (
			font-size: 28px,
			line-height: 36px,
		)
	),
	h2: (
		font: 800 36px / 43px $font-primary,
		text-transform: uppercase,
		text-align: center,
		m: (
			font-size: 28px,
			line-height: 36px,
		)
	),
	h4: (
		font: 700 20px / 24px $font-primary,
	),
	h5: (
		font: 400 18px / 22px $font-primary,
		text-align: center,
	),
  small: (
    font: 400 13px / 16px $font-primary,
  ),
	input: (
		font: 400 18px / 22px $font-primary,
		color: get-color(grey_900),
	),
	input_small: (
		font: 600 15px / 18px $font-primary,
		text-transform: uppercase,
	)
);

$z-indexes: (
	header: 999,
	context-menu: 888,
);

$icons: (
	drowdown-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' fill='none'%3E%3Cpath fill='%23000' d='M8.934 1.51a.308.308 0 0 0-.09-.205L8.398.86a.308.308 0 0 0-.205-.09.308.308 0 0 0-.206.09L4.478 4.368.97.859a.308.308 0 0 0-.205-.09.29.29 0 0 0-.205.09l-.447.446a.308.308 0 0 0-.089.206c0 .071.036.152.09.205l4.16 4.16c.054.054.134.09.205.09a.308.308 0 0 0 .206-.09l4.16-4.16a.308.308 0 0 0 .09-.205Z'/%3E%3C/svg%3E"),
);

// header 
$header-height: 100px;
$header-height-mobile: 70px;
$header-indent: 20px;