<script setup lang="ts">
import Header from './components/Layout/Header.vue';
import Cars from './components/Cars/Cars.vue';
</script>

<template>
  
  <Header />

  <main>
    <Cars />
  </main>
  
</template>